*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    
}



/* Header */
header{
    /* border: 1px solid green; */
}
.header-content, .nav-links{
    display: flex;
    justify-content: space-between;
}
.header-content{
    /* border: 1px solid black; */
    height: 4rem;
    align-items: center;
    /* border: 1px solid red; */
    padding-left: 2rem;
    padding-right: 2rem;
    
}
.nav-links{
    /* border: 1px solid green; */
    width: 30%;
    
}
.nav-links li{
    list-style: none;
    
}

.logo, .nav-links a{ 
    text-decoration: none;
}

.logo:visited, .nav-links a:visited{
    color: black;
}

.nav-links li:hover{
    text-decoration: underline;
}

/* Main Content */
.main-content{
    /* border: 1px solid red; */
}

#splash{
    display: flex;
    /* border: 1px solid green; */
    height: 85vh;

    background-image: url("./images/splash2.jpg");
    background-repeat: none;
   
    background-position: center;
    justify-content: center;
    align-items: center;
}
/* splash content */
.slogan{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 3rem;
}
.slogan h1, .slogan h2{
    line-height: 1;   
}

.slogan h2{
    margin-top: 2rem;
    padding-left: 4rem;
    font-weight: 200;
}

/* Content About */
.content.about{
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.slogan{
    /* border: 1px solid green; */
    line-height: 4rem;
    width: 65%;
}


/* products */

#products{
    /* border: 1px solid red; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#products h1{
    text-align: center;
    margin: 2rem;
}

.product-container{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
   
}
.product{
    /* border: 1px solid red; */
    width: 20rem;
    margin: 0 3rem 1rem;
    text-align: center;
}

#products .image-container, #team .image-container{
    /* border: 1px solid black; */
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.product:hover{
    box-shadow: 5px 10px #D5D7D8;
    border-radius: .5rem;
}
.image-container img{
    width: 100%; 
}

/* Promotional product */
.content.buna{
    background-color: black;
}
.hashtag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid white; */
}
.hashtag h1, .noir {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.noir h3{
    /* border: 1px solid red; */
    display: inline-block;
}
.image-container{
    text-align: center;
    /* border: 1px solid green; */
    width:20%;
}
.hashtag img{
    width: 100%;
}

.noir h1{
    text-align: center;
    padding-bottom: 2rem;
}

/* Team Members */

.about-us{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us h1:nth-child(1){
    margin: 2rem;
}
.member h3{
    margin-bottom: 2rem;
}
.team-members{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    justify-content: center;
    margin-bottom: 3rem;
}
.member{
    margin: 1rem;
}
.team-members img{
    width: auto;
    height: 100%;
}

.image-container.ceo img{
    position: absolute;
    left: 0;
    top: -6rem;
    width: 100%;
    height: auto;
}

.member{
    box-shadow: 5px 10px #D5D7D8;
    border-radius: .5rem;
    width: 35rem;
    text-align: center;
    }

/* Footer */
footer{
    margin-top: 2rem;
    height: 15vh;
    width: 100%;
    background-color: black;
    /* border: 2px solid red; */
}
.footer-content{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
}
.info{
    /* border: 1px solid white; */
    /* width: 30rem; */
    color: white;
    text-align: center;
    white-space: nowrap;
}

.footer-content div:nth-child(2){
    flex-grow: 1;
}
.footer-content p{
    margin: auto 1rem;
    
}




